
@{
    ViewBag.Title = "VerifyPasswordLink";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Html.RenderPartial("~/Views/Partial/_BreadCromb.cshtml", new g_auto.VM.BreadCromb
    {
        Page = "Login",
        HREF = Url.Action("Login", "Main")
    });
}




@model g_auto.Models.User

@if (Session["OnPassUpd-" + Model.Id] != null)
{
    <section class="gauto-login-area section_70">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="login-box">
                        <div class="login-page-heading">
                            <i class="fa fa-key"></i>
                            <h3>Update Password</h3>
                        </div>
                        @using (Html.BeginForm("NewPasswordUpdate", "Main", FormMethod.Post, new { enctype = "multipart/form-data", @id = "user_updatepswrd_form" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="account-form-group">

                                <input type="password" name="Password" value="" required placeholder="New Password" class="form-control mb-3" id="confirm_pass" />
                                <i class="fa fa-lock"></i>

                            </div>

                            <div class="account-form-group">
                                <input type="password" required class="form-control mb-3" placeholder="Confirm Password" name="confirm_password" value="" />
                                <i class="fa fa-lock"></i>
                            </div>
                            <input type="hidden" name="Id" value="@Model.Id" />

                            <p>
                                <button type="submit" class="gauto-theme-btn">Update Password</button>
                            </p>
                        }

                    </div>

                </div>
            </div>
        </div>
    </section>
}
else
{
    <section class="gauto-login-area section_70">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="login-box">
                        <div class="login-page-heading">
                            <i class="fa fa-key"></i>
                            <h3>Session Error </h3>
                        </div>
                        <div class="woocommerce-notices-wrapper  mt-5 mb-5" id="notifySessionError" style="display:block !important">
                            <ul class="woocommerce-error woocommerce-custom-error" role="alert">
                                <li>The link has expired. Back to <a href="@Url.Action("Login", "Main")">Login</a>.</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
}

